{%- block footer -%}
    <footer class="page-footer">
        <div class="footer-copyright">
            <span>&copy; {{ date()|date('Y') }} {{ "All rights reserved"|trans }}</span>
        </div>
    </footer>
{%- endblock footer -%}
