%submit-button {
    // Expand submit buttons to the all form width.
    width: 100%;
    height: auto;
    line-height: initial;
    padding: .5rem;

    .sym-icon__small__light {
        margin-left: $sym-tiny;
    }
}

button[type="submit"],
a.social-auth-button {
    @extend %submit-button;

    &.google-auth-button {
        @extend %google-grad;
    }
}
