/** Flash message */

.sym-flash-text {
    margin-left: $sym-tiny;
}

/** Themes */

.sym-error-message {
    background-color: $sym-error;
}

.sym-info-message {
    background-color: $sym-info;
}

.sym-success-message {
    background-color: $sym-success;
}

.sym-warning-message {
    background-color: $sym-warning;
}
