// Somehow hide autofill highlight in Chrome
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    &,
    &:hover,
    &:focus,
    &:active {
        filter: grayscale(100%) brightness(110%);
    }
}

.modal-content input:-webkit-autofill,
.modal-content textarea:-webkit-autofill,
.modal-content select:-webkit-autofill {
    &,
    &:hover,
    &:focus,
    &:active {
        filter: grayscale(100%) brightness(104%);
    }
}

.modal-content {
    .input-field {
        input[type=search] {
            &:focus:not(.browser-default) {
                background-color: inherit;
                border-bottom: 1px solid $sym-secondary-color;
                box-shadow: 0 1px 0 0 $sym-secondary-color;
            }
        }
    }
}

.input-field {
    margin: 0;
    // Need for selects icons.
    text-align: left;

    .prefix {
        &.active { fill: $input-focus-color; }
    }

    .helper-text {
        // For captcha input
        pointer-events: none;
        margin-bottom: 1px;
    }

    .select-wrapper {
        .dropdown-content {
            width: 100%;
        }
    }

    // Allows browser validation for selects.
    // See: https://github.com/Dogfalo/materialize/issues/1861.
    select[required] {
        display: block;
        height: 0;
        width: 0;
        padding: 0;
    }

    .col.s6 {
        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }
    }
}
