.sym-html {
    height: 100%;
}

.sym-body {
    display: grid;
    min-height: 100%;
    min-width: 360px;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "n"
        "c"
        "f";
}

.sym-navbar {
    grid-area: n;
}

.sym-content {
    grid-area: c;

    display: grid;
    justify-self: center;
}

.sym-footer {
    grid-area: f;
}

.sym-central {
    display: grid;
    align-content: center;
    justify-content: center;
    min-height: 100%;

    .sym-central-banner {
        text-align: center;
    }
}

.sym-table-page {
    display: grid;
    grid-template-columns: minmax(300px, 80vw);
    align-items: center;
    align-content: space-evenly;
}
