/** Sizes */

$sym-small: 2rem !default;
$sym-tiny: 1rem !default;

/** Colors */

$sym-dark-color: #414045;
$sym-light-color: #fafafa;

$sym-primary-color: $primary-color;
$sym-secondary-color: $secondary-color;

$sym-error: #e57373;    // red lighten-2
