/** Sizes */

$sym-small: 2rem !default;
$sym-tiny: 1rem !default;

/** Colors */

$sym-dark-color: #414045;
$sym-light-color: #fafafa;

$sym-primary-color: $primary-color;
$sym-secondary-color: $secondary-color;

$sym-disabled-color: $button-disabled-color;

$sym-error: #e57373;    // red lighten-2
$sym-info: $sym-secondary-color;
$sym-success: #81c784;  // green lighten-2
$sym-warning: #ffb74d;  // orange lighten-2


/** Gradients */

@mixin sym-material-gradient(
    $first: $sym-secondary-color,
    $second: $sym-primary-color,
    $third: $sym-dark-color
) {
    background:
        linear-gradient(70deg, $first  30%, rgba(0,0,0,0) 30%),
        linear-gradient(30deg, $second 60%, $third 60%);
}

%google-grad {
    background:
        linear-gradient(70deg, #4285f4 20%, #db4437 20% 50%, #f4b400 50% 80%, #0f9d58 80%);
}

/** Animations */

@keyframes fadify {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
