/** Import Libs */

@import '~@materializecss/materialize/sass/materialize.scss';

/** Import variables */

@import 'components/variables';

/** Import components */

@import 'components/badge';
@import 'components/button';
@import 'components/footer';
@import 'components/form';
@import 'components/icons';
@import 'components/layout';
@import 'components/scrollbar';
@import 'components/tooltips';
@import 'components/typography';
